bin/
obj/
**/bin/
**/obj/
*.user
*.suo
.vs/
.idea/
*.db
*.sqlite
*.pdb
*.dll
*.exe
*.log
coverage/
TestResults/
nunit-*.xml
logs/
/.ionide/
.vscode/
*.userosscache
*.sln.ide
.DS_Store
src/Server/bin/
src/Server/obj/
